header {
  background-color: #2F2C32;
}
body {
  background-color: #E5E1E0;
}
h1, h2, h3 {
  text-transform: uppercase;
  color: #D9BA06;
}
h4, h5, h6 {
  text-transform: uppercase;
  color: #2F2C32;
}
a {
  text-decoration: none !important;
}
.btn-primary {
  background-color: #2F2C32;
  border-color: #2F2C32 ;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #2F2C32;
  background-color: #D9BA06;
  border: 1px solid #D9BA06;
}
.border {
  border: 1px solid #2F2C32 !important;
}
footer {
  background-color: #2F2C32;
}
footer a, footer p {
  color: white;
}
/* home blade */
#carouselHome {
  width: 800px;
}
.titulo-imagen-destacada {
  background-color: #2F2C32;
  height: 100px;
}
.titulo-imagen-destacada h2 {
  padding-top: 30px;
  font-weight: bold;
}
.nav-categoria {
  font-weight: bold;
  text-transform: uppercase;
}
.card-categoria {
  color: #D9BA06;
  margin: 0;
}
/* staff blade */
.menu-tipo a {
  font-weight: bold;
  color: #D9BA06;
}
.menu-tipo a:hover, .menu-tipo a:focus, .menu-tipo a:active, .menu-tipo a.active {
  color: #2F2C32;
}
/* aboutus blade */
.color1, .color2, .color3 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  
  display: inline-block;
}
.contenedor-color {
  background-color: white;
  border-radius: 15px;
}
.color1 {
  background-color: #2F2C32;
}
.color2 {
  background-color: #D9BA06;
}
.color3 {
  background-color: #E5E1E0;
}
/* create post blade */
.crear-categoria .titulo-categoria {
  margin-top: 26px;
}